
 <br> <div class="container">
    <div class="grid-container">
      <div class="item1">
        <h3 class='title'>EduShare</h3>
        <div class='search'>Search</div>
      </div>
      <div class="item2">
        <div class='subjects'><h4>Your Subjects</h4>
          <div>subject 1</div>
          <div>subject 2</div>
          <div>subject 3</div>
        </div>
        <h4>Previous Quizzes</h4>
        <div>Question 1</div>
        <div>Question 2</div>
        <div>Question 3</div>
       </div>
  
      <div class="item3">
        <h3 class="topic">New Content?</h3>
        <p class="author">Upload fresh files and they will be accessible to all your students in seconds</p>
        <button class="button">Add new class files</button><br>
        <button class="button">set a Quiz</button>
        <button class="button">Upload Notes</button>
      </div>
      <div></div>
  
    </div>
  </div>