<div class="grid-container">
  <div class="item1">
    <h3 class='title'>EduShare</h3>
    <div class='search'>Search</div>
  </div>
  <div class="item2">
    <div class='subjects'><h4>Your Subjects</h4>
      <div>subject 1</div>
      <div>subject 2</div>
      <div>subject 3</div>
    </div>
    <div class="subjects"><h4>Your Quizzes</h4>
        <div>Question 1</div>
        <div>Question 2</div>
        <div>Question 3</div>
    </div>
  </div>

  <div class="item3">
    <h3 class="topic">Topic</h3>
    <div class="author">By: author</div>
    <textarea class="textArea"></textarea><br>
    <button class="button">Download</button>
  </div>

</div>
