*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(135, 138, 136, 0.937);
}

.grid-container {
  width: 50%;
  height: 60vh;
  border: 0px;
  margin: auto;
  border-radius:10px;
  display: grid;
  background-color: #cccccc;

  /*grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main";
  grid-template-rows: 60px, 1fr, 60px;
  grid-template-columns: 30px 1fr, 1fr;
*/
  grid-template:
  "header header header" 20%
  "nav main main" 1fr
  "footer . ." 20%
  /20% 1fr 1fr;

}

.item1{
  grid-area: header;
  padding-top: 20px;
  padding-left: 20px;
}


.item2{
  margin: auto;
  font-size: 0.8rem;
  grid-area: nav;
  text-align: left;

}

.item3 {
  grid-column: 2/3;
  grid-area: main;
  padding-left: 30px;
  border-left: 1px solid  rgba(170, 153, 76, 0.418);
  margin-left: 0;
}

.item4{
  grid-area: footer;
}

.topic{
  padding-bottom: 30px;
}

.author{
  width: 40%;
  height: 50%;
  font-size: 1rem;
  padding-bottom: 25px;
}

.subjects{
  padding-bottom: 55px;

}

.title{
  float: left;
  margin-right:65%;

}

.search{
  float: left;
}

.button{
  border-radius: 10px;
  width: 33%;
  height: 30px;
  border: 0;
  margin: 10px;
}

@media only screen and (max-width: 450px ) {
  .grid-container {
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "nav";
    max-width: 600px;
  }

  .item2{
    margin: auto;
    font-size: 1rem;
    text-align: center;
    padding: 5;
  }

  .topic{
    padding-bottom: 10px;
    text-align: center
  }

  .author{
    width: 50%;
    margin: auto;
    font-size: 1rem;
    padding-top: 10px;
  }

  .title{
    font-size: 1.2rem;
    float: left;
    margin-right:30%;
    margin-bottom: 15px;
}

.subjects{
  padding-bottom: 25px;
  text-align: center;
}

}