<main>
  <p class="logo">EduShare</p>
  <hr class="line2">
  <p  class="search">Search</p>
  <p class="subjects">Your Subjects</p>
  <div>
    <p *ngFor="let subject of studentInfo?.subjects" class="subjectList">{{subject.subjectname}}</p>
  </div>
  <p class="quiz">Your Quizes</p>
  <p class="quizes-done">No quizes sat yet</p>
  <p class="message">What’s New:</p>
  <p class="message2">Your teachers have uploaded new notes in the Math and Chemistry classes</p>
  <div type="submit" class="button1">
    <a routerLink="" routerLinkActive="active">Show me what's new</a>
  </div>
  <div type="submit" class="button2">
    <a routerLink="/quiz-page" routerLinkActive="active">Sit a quiz</a>
  </div>
  <div type="submit" class="button3">
    <a routerLink="/uploadnotes" routerLinkActive="active">Upload Notes</a>
  </div>
</main>
