<main>
  <p class="logo">EduShare</p>
  <hr class="line2">
  <p  class="search">Search</p>
  <p class="subjects">Your Subjects</p>
  <div>
    <p *ngFor="let subject of studentInfo?.subjects" class="subjectList">{{subject.subjectname}}</p>
  </div>
  <p class="quiz">Your Quizes</p>
  <p class="quizes-done">No quizes sat yet</p>
  <p class="find">Let’s find you.....</p>
  <hr class="line3">
  <p class="example">e.g Calculus II</p>
  <button class="button2"><a routerLink="/quiz-page" routerLinkActive="active">Sit a quiz</a></button>
  <button class="button3">Upload Notes</button>

</main>

