
 <div class="container">
  <div class="grid-container">
    <div class="item1">
      <h3 class='title'>EduShare</h3>
      <div class='search'>Search</div>
    </div>
    <div class="item2">
      <div class='subjects'><h4>Your Subjects</h4>
        <div>subject 1</div>
        <div>subject 2</div>
        <div>subject 3</div>
      </div>
      <h4>Previous Quizzes</h4>
      <div>Question 1</div>
      <div>Question 2</div>
      <div>Question 3</div>
     </div>

    <div class="item3">
      <h3 class="topic">Share a file with the world</h3>
      <span><input type="file" name="" id=""><button>upload</button></span><br><br><br>
      <!--
      <span style="font-size: 3em; color: black;">
        <i class="fas fa-upload"></i>
      </span>
      -->

      <button class="button">Sit a Quiz</button>
    </div>

  </div>
</div>
